.auth-page {
  background-image: url(/src/assets/img/login-bg.png);
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-card {
  background-color: rgba(255, 255, 255, 0.8);
}

.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #e0bfbf; */
  border-radius: 10px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}